extends layout

block content
  .container
    .row
       .col-sm-12
          table.table.table-hover
            thead
              tr
                th 
                  h1 #{title}
            tbody
              tr
                td
                   if user
                    strong Welcome: 
                    | #{user.displayName}
                    br 
                    strong Display Photo: 
                    img(src="#{user.photos[0].value}", alt="")
                   else
                     a(class ="btn btn-primary" href="/twitter/login") 
                      | Login With Twitter